<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Sign Up</title> 
    <link rel="stylesheet" href="/css/signUpForm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include("navbar") %>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Sign Up</span></div>
        <form action="/sign-up" method="POST" class="box">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="username" required>
          </div>
          <div class="row">
            <i class="fas"></i>
            <input type="text" placeholder="Email" name="email" required>
          </div>
          <div class="row">
            <i class="fas"></i>
            <input type="text" placeholder="Address" name="address" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" required>
          </div>
          <div class="row flexing">
            <label for="worker" class="label">Worker</label>
            <input type="radio" name="usertype" id="worker" value="worker">
            <label for="worker" class="label">Contractor</label>
            <input type="radio" name="usertype" id="contractor" value="contractor">
          </div>

          <div class="row button">
            <input type="submit" value="Sign Up">
          </div>
          <div class="signup-link">Have an account? <a href="/login">Login</a></div>
        </form>
      </div>
    </div>

  </body>
</html>