.postContainer {
    display: flex;
    margin-top: 3dvh;
    width: 100dvw;
    height: 100%;
    font-family: "roboto";
    align-items: center;
    flex-direction: column;

}

.post {
    width: 40dvw;
    min-height: 18dvh;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
    padding-left: 10dvw;
    padding-right: 10dvw;
    border-radius: 8px;
    border-bottom: 1px solid rgba(3, 3, 3, 0.25);
    border-top: 1px solid rgba(3, 3, 3, 0.25);
    
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postHeader {
    font-size: 2.5em;
    margin-bottom: 2dvh;
}
.postDescription {
    line-height: 1.5;
    margin-top: 2dvh;
}

.postPrice {
    color: rgb(0, 0, 0);
}

.postTitle {
    color: rgb(53, 53, 53);
}

.myPosts {
    font-size: 3.5em;
    font-family: "roboto";
    width: 100%;
    text-align: center;
    margin-top: 3dvh;
    
}


.postTags {
    display: flex;
    gap: 16px;
}

.postTag {
    background-color: rgb(0, 47, 255);
    color: white;
    height: 2.8dvh;
    width: 15%;
    margin-bottom: 1dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px rgb(231, 231, 231);
    font-size: 0.8em;
}

.contact {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1dvh;
    box-shadow: 1px 1px 1px 1px rgb(184, 184, 184);
}

.postSubInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 2dvh;
}

.status {
    color: rgb(0, 217, 255);
}

.sellerContent {
    font-family: "roboto";
    display: flex;
    justify-content: center;
    margin-top: 2dvh;
}

h2 {
    font-size: 3em;
}